@import url("https://fonts.googleapis.com/css2?family=Coiny&family=Sono:wght@200..800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(15, 15, 15);
  color: #fafaf9;
  font-family: "Sono", sans-serif;
  padding: 40px;
}

/* MAIN LAYOUT */

.header {
  margin-bottom: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.byte-form {
  background-color: rgb(69, 69, 69);
  margin-bottom: 40px;
  padding: 16px 40px;
}

main {
  display: grid;
  grid-template-columns: 245px 1fr;
  gap: 48px;
}

/* ELEMENTS */

.logo {
  display: flex;
  align-items: center;
  gap: 16px;
}

h1 {
  font-size: 42px;
  text-transform: uppercase;
  font-family: "Coiny", sans-serif;
  line-height: 1;
  margin-top: 6px;
}

.byte {
  font-size: 20px;
  line-height: 1.4;
  letter-spacing: -1px;
  background-color: rgb(69, 69, 69);
  margin-bottom: 16px;
  padding: 16px 24px;
  display: flex;
  align-items: center;
  gap: 24px;
}

.tag {
  text-transform: uppercase;
  font-size: 14px;
  font-family: "Coiny", sans-serif;
  padding-top: 3px;
  padding-left: 10px;
  padding-right: 10px;
}

.voting-btns {
  margin-left: auto;
}
ul {
  list-style: none;
}
