@import url("https://fonts.googleapis.com/css2?family=Coiny&family=Sono:wght@200..800&display=swap");

h1 {
  font-size: 42px;
  text-transform: uppercase;
  text-align: center;
  font-family: "Coiny", sans-serif;
}

.byte {
  font-size: 20px;
  line-height: 1.4;
  font-family: "Sono", sans-serif;
}

.tag {
  text-transform: uppercase;
  font-size: 14px;
  font-family: "Coiny", sans-serif;
}

ul {
  list-style: none;
}
